<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{ name }}</title>
</head>

<body>
  <div id="pagecontent">
    <h1 class="title">
      <span>{{ name }}</span>
    </h1>

    <div class="managebox" id="monsterinfo">
      <div class="name">{{ name }}</div>

      <div id="itemslot">
        <div class="image">
          <div class="linkedItem">
            <span class="iteminfo">
              <span class="itemdata">{{ type }}</span>
              <span class="itemrace"></span>
              <span class="itemname">{{ name }}<span class="orange"></span></span>
              <span class="itemdata">{% for label, value in stats.items() %}<br>{{ label }} : {{ value }}{% endfor %}</span>
              <span class="itemreq">{% for label, value in (reqs or {}).items() %}<br>Req. {{ label }} : {{ value }}{% endfor %}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
